:root { 
--black_900_01:#000000; 
--gray_500:#929292; 
--blue_gray_100:#d9d9d9; 
--black_900:#080b1d; 
--light_blue_A200:#30d1ff; 
--light_blue_500:#0099fa; 
--light_blue_A200_01:#2ed2ff; 
--white_A700:#ffffff; 
}